requirement doc link: https://docs.google.com/spreadsheets/d/1K8IALfWkFZNxum2iFZIG-lw3lHnYRF1S_b4JX88ctnQ/edit?gid=0#gid=0
figma link: https://www.figma.com/design/L6pTjtrcXtg6nsN3V65jrf/willsmith5656?node-id=1-2&t=wEPvfkPtniFBd015-1
subscription repo link: https://github.com/SMTech24-official/neon-rover.git
